/*
    [FONT] Add all your webfonts here, i used the generator here:https://transfonter.org
*/
@font-face {
    font-family: 'DM Sans';
    src: url('./DM_Sans/DMSans-Regular.woff2') format('woff2'),
        url('./DM_Sans/DMSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./DM_Sans/DMSans-MediumItalic.woff2') format('woff2'),
        url('/DM_Sans/DMSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./DM_Sans/DMSans-Bold.woff2') format('woff2'),
        url('./DM_Sans/DMSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./DM_Sans/DMSans-Medium.woff2') format('woff2'),
        url('./DM_Sans/DMSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./DM_Sans/DMSans-BoldItalic.woff2') format('woff2'),
        url('./DM_Sans/DMSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./DM_Sans/DMSans-Italic.woff2') format('woff2'),
        url('./DM_Sans/DMSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

